<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = "https://127.0.0.1:8000/news/{{url}}/"; 
this.page.identifier = "{{url}}"; 
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://56school.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Пожалуйста, включите JavaScript чтобы увидеть <a href="https://disqus.com/?ref_noscript">коментарии.</a></noscript>
                            