@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0; 
}

body {
  color: #141414;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;  
}

a{
  color: #fff;
}

.contacts a{
  color: #141414;
}

a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #141414; 
}
.top-header {
  width: 100%;
  font-weight: 800;
}

.top-header .container{
  margin-top: 2em;
  margin-bottom: 0em;

}
.top-header .container .col-xs-12{
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}


.carousel-item{
  height: 100%;
}

.info{
  display: inline-block;
  font-weight: 600;

}

.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: 600;
  font-size: 16px;

}

.navbar .navbar-toggler {
  color: #fff;
  border-color: #fff; 
}


.navbar .navbar-expand-lg .sticky-top{
  height: 150px;
}
.navbar{
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  background-color: #1e88e5;
}

.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}


.desc{
  text-align: center;
  margin-top: 35px;
}

.mb-5{
  margin-top: 2rem;
}

.btn-primary {
  color: #fff;
  background-color: #1e88e5;
  border-color: #1e88e5;
}

.about{
  height: 100%;
  background-color: #1e88e5;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

.description{
  color: #fff;
  text-align: center;
  padding-top: 3%;
}


#about{
  padding-top: 5%;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 5%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
} 

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.card{
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.card:hover{
  scale: 1.1;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.footer{
  background-color: #1974c4;
  box-shadow:inset 0 0 15px rgba(0,0,0,0.5);
}

.footer.py-5{
  margin: 0px;
  padding: 0px;
}

footer{
  background-color: #1c5688;
}

.contact a{
  padding: 2%;
}
.contacts i{
  color: #1e88e5;
}



.text{
  color: #fff;
  padding-top: 13%;
  text-align: center;
}

.number{
  font-size: 40px;
  padding-top: 15px;
}

.breadCumb{
  position: relative;
  z-index: 10;
  width: 100%;
  height: 200px;
  margin-bottom: 70px;
  
}

.bg-img{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content{
  max-width: 800px;
  height: 80px;
  background:  #1e88e5;
  position: relative;
  bottom: -160px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 30;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
   
}

.mt{
  margin-top: 15%;
}

.breadCumb .content h2{
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  color: #ffffff;
}

.mb-50{
  margin-bottom: 50px;
}

/* news */

.school-news{
  margin-top: 5%;
  padding-top: 25px;
}

.picture{
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 5%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
}

.picture img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-post{
  background-color: #eef3f6;
  padding: 30px;
}

.post-title{
  font-size: 26px;
  color: #141414;
  font-weight: 800;
}

.post-button{
  position: relative;
}

.post-button .btn-primary{
  font-size: 13px;
}

.date{
  font-style: italic;
  color: #141414a8
}

.news-detail h1{
  margin-top: 10%;
  font-weight: 800;
  text-transform: uppercase;
}
.news-text{
  font-size: 16px;
  font-weight: 600;
}


.box{
   position: relative;
   overflow:hidden;
   width:100%;
   height:100%;
}
.box img {
   position: absolute;
   top:50%;
   left:50%;
   -webkit-transform:translate(-50%,-50%);
       -ms-transform:translate(-50%,-50%);
           transform:translate(-50%,-50%);
   width:100%;
   height:100%;
   -o-object-fit:cover;
      object-fit:cover;
}


.accordion .card{
  margin-bottom: 2%;
}

.centered{
  text-align: center;
  align-items: center;
}

.color{
  color: #1974c4;
}


/* section */
.main-timeline{ position: relative; }
.main-timeline:before{
    content: "";
    width: 5px;
    height: 100%;
    background: #1e88e5;
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    position: relative;
    margin-bottom: 20px;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #1e88e5;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 4px;
    right: 0;
    z-index: 1;
}
.main-timeline .timeline-content{
    width: 45%;
    padding: 20px;
    background: #1e88e5;
    text-align: center;
    float: left;
    margin-top: 8px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.main-timeline .timeline-content:before{
    content: "";
    width: 10%;
    height: 5px;
    background: #1e88e5;
    position: absolute;
    top: 0;
    right: -10%;
}
.main-timeline .title{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-top: 0;  
}
.main-timeline .description{
    font-size: 16px;
    color: #fff;
}
.main-timeline .timeline-content.right{
    float: right;
}
.main-timeline .timeline-content.right:before{
    left: -10%;
}
@media only screen and (max-width: 767px){
    .main-timeline:before{
        left: 0;
    }
    .main-timeline .timeline-icon{
        left: -8px;
        margin: 0;
    }
    .main-timeline .timeline-content{
        width: 90%;
        float: right;
    }
    .main-timeline .timeline-content:before{
        left: -10%;
    }
}

.draft{
  height: 100px;
}

/* timetable */

.hide {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

.accordion {
  text-align: center;
  background: #fff;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.25);
}

.accordion-item {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}
.accordion-item:last-child {
  border-bottom: none;
}

.accordion-label {
  padding: 20px 0 20px 30px;
  width: 100%;
  display: block;
  font-size: 18px;
}
.accordion-label:hover {
  cursor: pointer;
}
.accordion-label:before {
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  top: 22px;
  left: 12px;
  display: inline-block;
  border-left: 5px solid #999;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
input[type=checkbox]:checked ~ .accordion-label:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion-child {
  margin: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  height: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
input[type=checkbox]:checked ~ .accordion-child {
  border: 1px solid #e0e0e0;
  margin: 0 -20px 15px -20px;
  background: #fff;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
  padding: 30px;
  height: auto;
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

label{
  margin-bottom: 0rem;
}

.loader {
  position: fixed;
  z-index: 20000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 100px;
}

.loader.hidden {
  animation: fadeOut 0.25s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}


.short-news{
  height: auto;
  width: 100%;
  margin-top: 4rem;
  padding: 25px;
  border: 0.5px solid #e0e0e0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.short-news h2{
  padding-right: 15px;
  padding-left: 15px;
}

#target{
  margin-top: 0%;
}

.mt-50{
  margin-top: 50px;
}

#scroller{
  position: fixed;    
  bottom: 30px;
  right: 30px;
  background: transparent url(../img/ScrollUp.png) no-repeat left top;  
  width: 50px;
  height: 50px;
  cursor: pointer;
  display:none;
}