{% extends 'base.html' %}
{% load static %}
{% block title %}Новости{% endblock %}
{% block content %}
<!-- Page content -->
  
    <div class="container">
        <div class="news-detail">
          <h1>{{ post.title }}</h1>
          <p class="date">{{ post.publish }}</p>     
        </div>
        <div class="news-body">
             {{ post.text|safe }}
        </div>
    <br>
    <h4>Поделиться в:</h4>
    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="https://yastatic.net/share2/share.js"></script>
    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,whatsapp,telegram"></div>
    <br><hr>
      {% include 'include/comments.html' with url=object.slug %}
    </div>
    <br>
    <br>
<!-- End content -->
{% endblock %}