{% extends 'base.html' %}
{% load static %}
{% block title %}Расписании{% endblock %}
{% block content %}
<!-- Page content -->
  
<div class="breadCumb bg-img" style="background-image: url({% static 'img/f2.jpg' %});">
    <div class="content">
      <h2>Расписании</h2>
    </div>
  </div>

  <div class="container">
    <div class="accordion" id="timetable">
      <div class="card text-center">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              5 класс
            </button>
          </h5>
        </div>
  
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#timetable">
          <div class="card-body">
            <div class="container">
              <a href="img/timetable/img704.jpg" target="_blank"><img src="img/timetable/img704.jpg" style="width: 100%; height: auto;" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              6 класс
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#timetable">
          <div class="card-body">
  
            
  
          </div>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              7 класс
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#timetable">
          <div class="card-body">
  
  
  
  
          </div>
        </div>
      </div>

        <div class="card text-center">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  8 класс
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#timetable">
              <div class="card-body">
      
                
      
              </div>
            </div>
          </div>
          <div class="card text-center">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    9 класс
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#timetable">
                <div class="card-body">
        
                  
        
                </div>
              </div>
            </div>
            <div class="card text-center">
                <div class="card-header" id="headingSix">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      10 класс
                    </button>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#timetable">
                  <div class="card-body">
          
                    
          
                  </div>
                </div>
              </div>
              <div class="card text-center">
                  <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        11 класс
                      </button>
                    </h5>
                  </div>
                  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#timetable">
                    <div class="card-body">
            
                      
            
                    </div>
                  </div>
                </div>
    </div>
  </div>
  <!-- End content -->
  <br/><br/>
{% endblock %}